*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   outline: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
   user-select: none;
}

*::-moz-focus-inner {
   border: 0;
}

*:focus {
   outline: none;
}

html {
   scroll-behavior: smooth;
   font-family: 'Mulish', sans-serif;
}
@media screen and (max-width: 520px) {
   html {
      font-size: 83.333%;
   }
}

@media screen and (max-width: 390px) {
   html {
      font-size: 75%;
   }
}

body {
   position: relative;
   width: 100%;
   min-height: 100dvh;
   overflow-x: hidden;
   padding-left: .5em;
   padding-right: .5em;
   font-family: 'Mulish', sans-serif;
   font-weight: 400;
   font-style: normal;
   font-optical-sizing: auto;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   line-height: 1.5;
}

/*===============================================================
          Typography Scale - 1.250 - Major Third
==================================================================*/
h1, h2, h3, h4, h5, h6 {
   font-family: 'Mulish', sans-serif;
   font-weight: 600;
   font-style: normal;
   font-optical-sizing: auto;
   text-rendering: optimizeLegibility;
   line-height: 1.3;
}

h1 {
   font-size: 3.815rem;
}

h2 {
   font-size: 3.052rem;
}

h3 {
   font-size: 2.441rem;
}

h4 {
   font-size: 1.953rem;
}

h5 {
   font-size: 1.563rem;
}

h6 {
   font-size: 1.25rem;
}

p, small {
   font-family: 'Mulish', sans-serif;
   font-weight: 400;
   font-style: normal;
   font-optical-sizing: auto;
   text-rendering: optimizeLegibility;
}

p {
   font-size: 1rem;
   margin-bottom: 1em;
}

small {
   font-size: 0.8rem;
}

input, button, select, textarea {
   font-family: 'Mulish', sans-serif;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
   cursor: pointer;
   opacity: 0.75;
}

a:hover {
   cursor: pointer;
   opacity: 1;
}

/*===============================================================
           Utility Classes
==================================================================*/
.utils-fixed {
   position: fixed;
   left: 50%;
   top: 6rem;
   transform: translate(-50%, 0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.utils-radius-shadow {
   border-radius: 0.25rem;
   box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgb(0,0,0,0.1), 0 2px 4px -2px rgb(0,0,0,0.1);
}

.utils-notification-paragraph {
   padding: 1rem;
   font-weight: 600;
   color: rgb(249,250,251);
}

.utils-notify {
   min-width: 320px;
   max-width: 320px;
}

.utils-center-text {
   text-align: center;
}

.bg-semantic-a-200 {
   background-color: hsl(0, 96%, 48%);
}

.bg-semantic-a-400 {
   background-color: hsl(0, 96%, 33%);
}

.bg-semantic-i-400 {
   background-color: hsl(215, 96%, 33%);
}

.bg-semantic-s-400 {
   background-color: hsl(100, 96%, 33%);
}

.bg-semantic-w-400 {
   background-color: hsl(48, 96%, 50%);
}


.move-in-from-right {
   animation-name: move-in-from-right;
   animation-duration: 1s;
   animation-iteration-count: 1;
   animation-timing-function: ease;
}

.exit-to-left {
   animation-name: exit-to-left;
   animation-duration: 1s;
   animation-iteration-count: 1;
   animation-timing-function: ease;
   animation-fill-mode: forwards;
}

.move-back-to-right {
   animation-name: move-back-to-right;
   animation-duration: 1s;
   animation-iteration-count: 1;
   animation-timing-function: ease;
   animation-fill-mode: forwards;
}

@keyframes move-in-from-right {
   0% {
      opacity: 0;
      transform: translateX(2000px);
   }
   60% {
      opacity: 1;
      transform: translateX(-50px);
   }
   80% {
      transform: translateX(10px);
   }
   100% {
      transform: translateX(0);
   }
}

@keyframes exit-to-left {
   0% {
      opacity: 1;
      transform: translateX(0);
   }
   50% {
      transform: translateX(50px);
   }
   100% {
      transform: translateX(-2000px);
   }
}

@keyframes move-back-to-right {
   0% {
      opacity: 1;
      transform: translateX(0);
   }
   50% {
      transform: translateX(-50px);
   }
   100% {
      transform: translateX(2000px);
   }
}