*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   outline: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
   user-select: none;
}

*::-moz-focus-inner {
   border: 0;
}

*:focus {
   outline: none;
}

html {
   scroll-behavior: smooth;
   font-family: 'Mulish', sans-serif;
}

body {
   position: relative;
   width: 100%;
   min-height: 100dvh;
   overflow-x: hidden;
   padding-left: .5em;
   padding-right: .5em;
   font-family: 'Mulish', sans-serif;
   font-weight: 400;
   font-style: normal;
   font-optical-sizing: auto;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   line-height: 1.5;
}

/*===============================================================
          Typography Scale - 1.250 - Major Third
==================================================================*/
h1, h2, h3, h4, h5, h6 {
   font-family: 'Mulish', sans-serif;
   font-weight: 600;
   font-style: normal;
   font-optical-sizing: auto;
   text-rendering: optimizeLegibility;
   line-height: 1.3;
}

h1 {
   font-size: 3.815rem;
}

h2 {
   font-size: 3.052rem;
}

h3 {
   font-size: 2.441rem;
}

h4 {
   font-size: 1.953rem;
}

h5 {
   font-size: 1.563rem;
}

h6 {
   font-size: 1.25rem;
}

p, small {
   font-family: 'Mulish', sans-serif;
   font-weight: 400;
   font-style: normal;
   font-optical-sizing: auto;
   text-rendering: optimizeLegibility;
}

p {
   font-size: 1rem;
   margin-bottom: 1em;
}

small {
   font-size: 0.8rem;
}

input, button, select, textarea {
   font-family: 'Mulish', sans-serif;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
   cursor: pointer;
   opacity: 0.75;
}

a:hover {
   cursor: pointer;
   opacity: 1;
}